* {
    margin: 0;
    padding: 0;
}

.container {
    background-image: url('https://img.freepik.com/free-photo/retro-computer-desk-arrangement_23-2150118622.jpg?t=st=1734371715~exp=1734375315~hmac=a644379c98d22d6364ac2ad43c48171ec8f91eb1d5a6833bddedde6443ed48a2&w=996');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.title {
    width: 35vw;
    height: 40vh;
    text-align: center;
}
h1 {
    color: white;
    font-size: 70px;
}

.buttonJuego {

}

.buttonInfo {
    
}